.packet {
    background: white;
    /* border: 1px solid #4ba41d; */
    border: 1px solid rgba(55, 55, 55, 1);
    animation: morph 3s linear infinite;
}

.packet:hover {
    background: white !important;
    animation: none;
    border: 1px solid #7ae145;
    transition: border 700ms;
    box-shadow: 4px 5px 10px 0px #000;
    transition: box-shadow 200ms;
}

.packet:active {
    background: white !important;
    animation: none;
    border: 1px solid #7f7cf9;
    transition: border 700ms;
    box-shadow: -4px -5px 10px 0px rgba(00, 00, 00, .25);
    transition: box-shadow 200ms;
}

.packet strong {
    font-weight: 800;
}


/* .packet:hover {
  box-shadow: -6px -8px #464f4a;
} */

.packet.first {
    margin-top: 12vh;
    padding: 0.3em 18px 1.3em 0;
}

.tile-spacer {
    padding: 2.3em 18px;
}


/* .row:nth-child(1) .packet p {
  padding: 2.3em 18px 1.3em 18px;
} */


/* .packet p:nth-child(1) {
  padding: 2.3em 18px 1.3em 18px;
} */

.packet:hover {
    margin: 0 -12px;
}

.packet p {
    padding: 4px 8px;
    line-height: 1;
}

.packet.tile-last p {
    padding: 8px 8px 8px 8px;
}

.packet.tile-last {
    margin: 0 auto 3em auto;
}

.packet p,
.packet a {
    font-size: 12px;
    color: #101940;
    -webkit-animation: color-change 3s infinite;
    -moz-animation: color-change 3s infinite;
    -o-animation: color-change 3s infinite;
    -ms-animation: color-change 3s infinite;
    animation: color-change 3s infinite;
    margin: 0;
}

.packet a:hover,
.packet p:hover {
    color: #1a3acc !important;
    animation: none 1s infinite;
}

.packet svg {
    position: relative;
    margin: 2px 0px;
}

.packet svg.inline {
    position: relative;
    display: inline-block;
    margin: 2px 0 0 0px;
}

.packet svg.block {
    position: relative;
    display: block;
    margin: 2px 0 0 0px;
    width: 100%;
}

.packet svg.absolute {
    position: absolute;
    right: 10px;
    margin: 2px 12px;
}

.packet svg.hidden {
    position: relative;
    display: none;
    margin: 2px 0 0 0px;
}

.packet:hover svg.hidden,
.packet a:hover svg.hidden,
.packet p:hover svg.hidden {
    display: inline-block !important;
    visibility: visible !important;
}


/* https://stackoverflow.com/questions/30240181/can-i-apply-animations-to-margins */

.packet a:hover svg,
.packet p:hover svg {
    margin: 2px 0 0 97%;
    transition: margin 700ms;
}

.packet a:hover svg.inline,
.packet p:hover svg.inline {
    margin: 2px 0 60x 36px;
}

.packet .tile-index {
    float: left;
    display: inline-block;
}

.packet .tile-detail {
    float: right;
    font-size: 10px;
    text-align: right;
    display: block;
    margin: 6px 0 0 0;
    position: absolute;
    right: 8px;
    top: 0;
}