@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    /* colors */
    /* --brand-blue: #1a3acc; */
    --grid-color: var(--dark-blue);
    --radius: 24px;
}

.grid-bg {
    background-image: linear-gradient(var(--grid-color) 1px, transparent 1px), linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
    background-size: 64px 64px;
    /* Size of each grid square */
    background-position: center;
}

.prompt-pane {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    box-shadow: 6px -34px 60px #00050F00 inset, -6px -34px 60px #00050F00 inset;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    padding: 8vh 0 12vh;
}

.prompt-pane:hover {
    /* transform: translateY(-5px); */
    box-shadow: 56px -34px 90px #00050F52 inset, -56px -34px 90px #00050F52 inset;
}

#chat-container {
    display: flex;
    flex-direction: row;
    max-width: 1080;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: absolute;
    display: block;
    bottom: 4vh;
    width: 100%;
    z-index: 2;
    padding: 0 2em;
}

#prompt {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: black;
    border-radius: 32px;
    padding: 0px 12px;
}

.prompt-name {
    position: absolute;
    top: 8vh;
    left: 6vh;
    font-family: "Rubik", sans-serif;
    font-size: 1.5em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: var(--java);
}

.prompt-account {
    position: absolute;
    display: block;
    top: 8vh;
    right: 8vh;
    font-family: "Rubik", sans-serif;
    font-size: 1.5em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--legacy);
    z-index: 2;
}

.prompt-account .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    border: 2px solid var(--metal);
}

.prompt-account:hover .avatar {
    border-color: var(--white);
    cursor: pointer;
}

.char {
    animation-delay: calc( sin((var(--index) / var(--total)) * 90deg) * var(--duration));
}

#user-input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #2d2d2d;
    font-size: 16px;
    border-radius: var(--radius);
    background-color: #1a1a1a;
    color: white;
    padding: 12px 28px;
}

#user-input:focus {
    outline: none;
    border-color: #848484;
}

#submit-btn,
#attach-btn {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: background-color 0.3s;
    width: 100px;
    border-radius: var(--radius);
}

#submit-btn:hover,
#attach-btn:hover {
    background-color: var(--dark-blue);
}

.prompt-response {
    color: #a1a1a1;
    /* font-weight: 100; */
    white-space: pre-line;
    /* Keeps line breaks */
}

.message-container {
    display: flex;
    flex-direction: column;
}

.user-message {
    color: #333;
    font-size: 16px;
    margin: 0;
}

.timestamp {
    font-size: 10px;
    align-self: flex-end;
    margin-top: -12px;
}