:root {
    /* colors */
    --brand-blue: #1a3acc;
    --dark-blue: #001c9b;
    --very-dark-blue: #000e4e;
    --magenta: #ab1acc;
    --fuchsia: #84017e;
    --blood-red: #600000;
    --dim-red: #ee0202;
    --golden: #ccab1a;
    --bright-orange: rgba(255, 111, 63, 0.5);
    --orange: #ff6f3f;
    --dark-olive: #1a1e1c;
    --black: #0a0c0e;
    --white: #ffffff;
    --base-bright: #f0f4f7;
    --bright-grey: #f2f2f2;
    --light-grey: #cfcfcf;
    --warm-grey: #818181;
    --metal: #5a6771;
    --ever-green: #142a2d;
    --cool-blue: #e0e9fe;
    --euphoria: #00050f;
    /* properties */
    --font-base-size: 14px;
}

body {
    background-color: #1a1e1c;
    font-family: "Inter", sans-serif !important;
}

.ventnav {
    /* background-color: #444cf7; */
    height: 25px;
    width: 25px;
    position: absolute;
    display: block;
    right: 8px;
    bottom: 10px;
}

.ventnav svg {
    display: block;
}

.ventnav:hover path {
    fill: var(--warm-grey);
}

.navbar-nav>li>a,
.dropdown-menu>li>a,
.dropdown-submenu>li>a {
    font-family: "Inter", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-width: 0;
    color: var(--brand-blue);
    display: inline-block;
    font-size: var(--font-base-size);
    font-weight: 500;
    line-height: 1.2857142857142858;
    padding: 12px 20px;
}

@media screen and (max-width: 767px) {
    .navbar-nav>li>a,
    .dropdown-menu>li>a,
    .dropdown-submenu>li>a {
        display: block;
        font-family: "Inter", "Helvetica-Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.1;
        color: var(--brand-blue);
        font-size: 30px;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.0909090909090908;
        line-height: 1;
        padding: 6px 11px;
    }
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */

.scroll-pane {
    overflow-x: hidden;
    height: 800px;
    box-shadow: 6px -34px 60px #00050F00 inset, -6px -34px 60px #00050F00 inset;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.scroll-pane:hover {
    /* transform: translateY(-5px); */
    box-shadow: 56px -34px 90px #00050F52 inset, -56px -34px 90px #00050F52 inset;
}

#term-container {
    min-height: 33px;
    max-height: 33px;
    overflow: hidden;
}

.parallax-footer #back-top {
    position: absolute;
    right: -16px;
    top: -36px;
}

#pauseButton {
    display: block;
    margin: auto;
    color: #000E4E;
    border: 3px solid #000E4E4D;
    padding: 8px 16px;
    font-family: "Inter", sans-serif !important;
}

#pauseButton:hover {
    background-color: #000E4E;
    color: white;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    height: 0;
}

#back-top a {
    border: 3px solid white;
    width: 48px;
    height: 48px;
    display: flex;
}

#back-top a:hover {
    background-color: white;
    color: var(--brand-blue);
    cursor: pointer;
}

#back-top svg {
    width: 42px;
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
}

#back-top:hover svg path {
    color: var(--brand-blue);
    fill: var(--brand-blue);
}

svg path {
    /* fill: inherit !important; */
    animation: color-change 5s infinite !important;
}

.parallax:after {
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

.parallax-footer {
    font-weight: 600 !important;
    background-color: #d8d8d8;
    height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    color: #848484;
    padding: 50px 0;
}

.parallax-footer a {
    color: #949494;
    border-bottom: 1px dotted white;
}

.parallax-footer a:hover,
.parallax-footer a:focus {
    color: #000E4E;
}

.parallax-footer .brand-footer a:hover {
    border-bottom: none !important;
}

.footer .brand-footer a:hover {
    border-bottom: none !important;
}

.footer {
    font-size: 12px;
    line-height: 1.78571;
    margin-top: 16px;
    padding-top: 36px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    font-weight: 400;
}

.footer a {
    color: #848484;
    font-weight: 600;
}

@media (max-height: 600px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 375px;
    }
}

@media (min-height: 600px) and (max-width: 600px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 375px;
    }
}

@media (min-height: 1324px) and (max-width: 600px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 350px;
    }
}

@media (min-width: 992px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 209px;
    }
    .parallax-footer #back-top {
        position: absolute;
        right: 0px;
        top: -36px;
    }
}

@media (min-width: 792px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 209px;
    }
}

@media (min-width: 692px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 209px;
    }
}

@media (max-width: 767px) {
    .parallax:after {
        content: "\a0";
        padding-bottom: 400px;
    }
    .parallax-footer {
        height: 450px;
    }
    .parallax-footer #back-top {
        position: absolute;
        right: 32px;
        top: -36px;
    }
}