//_flat-fonts.scss
/*https://fonts.google.com/selection?selection.family=Bitter|Bree+Serif|Kadwa|Lora:700|Merriweather|Noticia+Text|Ramaraja|Rhodium+Libre|Rozha+One|Slabo+27px*/
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,700,500italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700italic,700,600italic,600,400italic,300italic,300');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic');
//source: proxima nova css = https://gist.github.com/haggen/2624063
@import url('proxima-nova.css');
/* hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(http://fonts.gstatic.com/s/varelaround/v7/APH4jr0uSos5wiut5cpjrvZjSN9jRjHSPidsMdAc5jQ.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(http://fonts.gstatic.com/s/varelaround/v7/APH4jr0uSos5wiut5cpjrhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'menloregular';
  src: url('../font/menlo-regular-webfont.eot');
  src: url('../font/menlo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/menlo-regular-webfont.woff2') format('woff2'),
       url('../font/menlo-regular-webfont.woff') format('woff'),
       url('../font/menlo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../font/proximanova-bold-webfont.eot');
  src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/proximanova-bold-webfont.woff2') format('woff2'),
       url('../font/proximanova-bold-webfont.woff') format('woff'),
       url('../font/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'freightbig_probold';
  src: url('../font/freightbigprobold-regular-webfont.eot');
  src: url('../font/freightbigprobold-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/freightbigprobold-regular-webfont.woff2') format('woff2'),
       url('../font/freightbigprobold-regular-webfont.woff') format('woff'),
       url('../font/freightbigprobold-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
