//_flat-fonts.scss
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,700,500italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

$ubuntu: 'Ubuntu', sans-serif;
$cousine: 'Cousine', monospace;
$oldstandard: 'Old Standard', serif;
