//_form.scss
address {
  margin-bottom: 18px;
  font-style: normal;
  line-height: 1.2857142857142858;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
  font-size: 21px;
  line-height: inherit;
  color: #62645c;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  &[type="search"], &[type="text"], &[type="submit"], &[type="email"], textarea, select,{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
  }
  &[type="radio"], &[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  &[type="file"] {
    display: block;
  }
}

select {
  &[multiple], &[size] {
    height: auto;
  }
  optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
  }
}

input {
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &[type="number"] {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      height: auto;
    }
  }
}
.status i{
	border: 1px solid white;
	font-size: .5em;
	padding: .12em;
	vertical-align: middle;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
#c_form{
	p{margin-bottom: 1.25em;}
	input, textarea, select{margin: 4px 0 0 0;padding: .35em 0; color: $textcolor;}
	.required{color: $linkhovercolor;}
	img{width: auto;height: auto;max-height: 100%;}
	input[type="submit"], select{
		background: white;
		color: $textcolor;
		padding: 1em;
		font-weight: 500;
		border: none;
		&:hover{
			color: black;
		}
	}
	input[type="submit"]{
		width: 50%;
		@media (max-width: 768px){width: 100%;}
	}
	select{
		font-weight: 400;width: 50%;
		@media (max-width: 768px){width: 100%;}
	}
	textarea{
		width: 80%;
		height: 150px;
		margin: 0;
		overflow: auto;
		border: none;
		outline: none;
		color: $textcolor;
		@media (max-width: 768px){width: 100%;}
	}
	.wpcf7-response-output{margin: 0;}
	.wpcf7-not-valid-tip, .wpcf7-validation-errors{
		border: none;
	}
	.wpcf7-validation-errors{
		margin: 2em 0 0;
		padding: 0;
		font-weight: 500;
		@media (max-width: 768px){
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	span.wpcf7-not-valid-tip{
		left:50px;
		@media (max-width: 768px){left: 50%;}
	}
	.wpcf7-not-valid-tip{
		background: white;
		box-shadow: 5px 5px 25px rgba(0,0,0,.125);
		-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    padding: .75em;
	}
	.ajax-loader{
		margin: -31px 0 0 10px;
		text-align: center;
		width: auto;
		padding: 0 1em;
		height: 16px;
		display: block;
		background: white;
	}
}
#c_form p{margin-bottom: 2.5em;}
#c_form input{color: #545454;}
.form-inline .btn-primary{margin-left: -5px;padding:.55em;vertical-align: baseline;border-left: 1px solid #eee;background-color: white;color:#545454;}
.form-inline .btn-primary:hover{color:black;}
input.search {padding: .55em;border-radius: 0;font-size: 14px;}
#c_form input, #c_form textarea, #c_form select{background: none;background-color: none;border-bottom: 1px solid #545454;border-radius: 0;}
#c_form select{appearance:none;-webkit-appearance: none; -moz-appearance: none;padding: .35em 0;}
#c_form select:after,#c_form .wpcf7-form-control-wrap.Chooseone:after{content:'\2261';margin-left: -12px;vertical-align: -webkit-baseline-middle;font-size: 12px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}/* 2195 2261 */
#c_form select:focus,#c_form select:active{outline: none;}
#c_form input[type="submit"]{border:1px solid #545454; border-radius: 25px;display: inline-block;font-family:sans-serif;height: 50px;background: none;line-height: 50px;padding: 0;font-weight: bold;}
@media (min-width: 992px) {
  #c_form input[type="submit"]{width: 200px;}
}
@media (max-width: 767px){
  #c_form input[type="submit"]{width: 100%;}
}


.form-inline .btn-primary{margin-left: -5px;padding:.55em;vertical-align: baseline;border-left: 1px solid #eee;background-color: white;color:#545454;}
.form-inline .btn-primary:hover{color:black;}
input.search {padding: .55em;border-radius: 0;font-size: 14px;}
#c_form input, #c_form textarea, #c_form select{background: none;background-color: none;border-bottom: 1px solid #545454;border-radius: 0;}
#c_form select{appearance:none;-webkit-appearance: none; -moz-appearance: none;padding: .35em 0;}/*NEEDS MOBILE WORKAROUND*/
#c_form select:after,#c_form .wpcf7-form-control-wrap.Chooseone:after{content:'\2261'; margin-left: -12px; vertical-align: -webkit-baseline-middle; font-size: 12px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}/* 2195 2261 */
#c_form select:focus,#c_form select:active{outline: none;}
#c_form input[type="submit"]{border:1px solid #545454; border-radius: 25px;display: inline-block;font-family:sans-serif;height: 50px;background: none;line-height: 50px;padding: 0;font-weight: bold;}
#c_form input[type="submit"]:hover{border: 1px solid white;/*e6e6e8*/ background: white; color: #545454;}

input[type="submit"]{border:1px solid #545454; border-radius: 25px;display: inline-block;font-family:sans-serif;height: 50px;background: none;line-height: 50px;padding: 0;font-weight: bold;}
input[type="submit"]:hover{border: 1px solid white;/*e6e6e8*/ background: white; color: #545454;}

.palette-inverse input[type="submit"]{border:1px solid #fff; border-radius: 25px;display: inline-block;font-family:sans-serif;height: 50px;background: none;line-height: 50px;padding: 0;font-weight: bold; color: white;}
.palette-inverse input[type="submit"]:hover{border: 1px solid white;/*e6e6e8*/ background: white; color: #545454;}

@media (min-width: 992px) {
  #c_form input[type="submit"]{width: 200px;}
}
@media (max-width: 767px){
  #c_form input[type="submit"]{width: 100%;}
}
#c_form .ajax-loader{margin: -36px 0 0 20px;padding: 0;text-align: left;background: none;font-size: 1.25em;}
