/*
  embeded styles from start
*/

/*a{
  transition: none !important;
  -webkit-transition: none !important;
}*/
/*##########################
    NAVBAR
###########################*/
/*@media screen and (max-width: $break-small-max){
  body{padding: 68px 11px 6px;}
  .navbar{padding: 12px 11px;}
  .navbar-toggle{
    padding: 15px 0 0 20px;
  }
}*/
/*@media screen and (min-width: $break-small-min){
  body{
    padding: 80px 18px 6px;
  }
}*/
/**/
.carousel-indicators{top:20px;}
  /*##########################
      FEATURED
  ###########################*/
  #featured{background-color: white; display: table; margin-left: 8px; margin-right: 8px;}
  #featured .col-md-8, #featured .col-lg-8, #featured .col-md-4, #featured .col-lg-4{padding-left: 0; padding-right: 0;}
  #featured .featured-image{padding-right: 5px;}
  #featured .featured-info{padding: 0 12px 3px 18px;}
  .carousel-control{top:150px;}
  .tile-graphic .tile-title{text-shadow: none;}


  @media (max-width: $break-small-max){
    /*ADJUSTING TILE Excerpt 1.4*/
    .tile-graphic.tile-large .tile-excerpt[class*="palette-"]{
      color: white;
      position: absolute;
      bottom: 10px;
      border-bottom: none;
    }
    .module-hero .module-overlay{
      position: absolute;
      bottom: 10px;
    }
    .carousel-control{display: none;}
  }
  @media (max-width: $break-small-max){
    #featured{margin-left: 5px; margin-right: 5px;}
    .blog-list-row [class*="col-"]:first-child{padding-left: 0;padding-right: 0;}
    .form-group{width: 75%;display: inline-block;}
    input.search{padding: .95em !important;}
    .form-inline .btn-primary{width: 25%;padding: .95em !important;}
  }
  button{background: transparent;border:none;border-radius:0px;}

  /*##########################
      TYPOGRAPHY CHANGES
  ###########################*/
  #featured{position: relative;}
  #featured .featured-info{position: absolute; bottom:0;right:0;}
  @media (max-width: $break-small-max){
    #featured .featured-info{position: relative;}
  }
  #featured h1,#featured h2,#featured h3,#featured h4,#featured h5,#featured h6{margin:.5em 0;}
  #featured h1 a, #feaured h2 a, #featured h3 a, #featured h4 a, #featured h5 a{color: $brandblue;border: none;}
  #featured p{letter-spacing: .005em;font-size: .95em;margin-bottom: 12px;line-height: 1.75em;}
  .intro, .callout{font-weight: 600 !important;letter-spacing: 0;line-height: 1.25em;}
  h4.h4{font-size: 1.15em !important;}
  blockquote::before {content:"“" !important;}
  blockquote::after {content:"”" !important;}
  figcaption{color: inherit;}
  @media (min-width: $break-small-min){
    .module-article > hr.dashed{
      display: block;
      width: 30%;
      border-bottom: 1px solid #545454;
      border-top:none;
      margin-right: 57.66666666666667%;
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    }
  }
  @media (min-width: $break-small-min){
    .module-article pre.prettyprint{
      margin-right: $col-5;
      margin-top: 0;
      padding: 10px;
      border: 1px solid #CCC;
      max-height: 400px;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap !important;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      overflow-x: auto;
    }
  }
  /* !!! ADJUST HR !!! */
  hr.dashed{display: block; width: 100%; border-bottom: 2px dashed #545454;}
  mark{background-color: #FFFF9E; color: #545454;}
  /*DISPLAYS LIGHTER THAN NON_ITALIC*/
  /*cite{font-style: italic;}*/
  .material-icons {font-size: inherit !important;vertical-align: bottom;}
  @media (min-width: $break-small-min){
    .module-article > .well, .module-article .panel, .module-article .embed-responsive {margin-right: 42.666667%;padding-right: 8px}
    .module-article > .newsletter-signup{margin-right: 42.666667%;}
  }

  .panel{min-height: 20px; padding: 15px;background-color: #fff;border: 1px solid transparent;box-shadow: 0 1px 1px rgba(0,0,0,.05);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);border-radius: 1px;}
  .well{min-height: 20px; padding: 15px;background-color: #f5f5f5;border: 1px solid #e3e3e3;box-shadow: inset 0 1px 1px rgba(0,0,0,.05);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);border-radius: 1px;}

  .newsletter-signup{
    background-color: #474747;
    color: white;
    text-align: center;
    min-height: 100pxp;
    padding: 2em;
    position: relative;
    border-radius: 3px;
  }
  .newsletter-signup input{
    height: 50px;
  }
  .newsletter-signup form label{
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px 0 0 20px;
    color: #545454;
  }
  /*##########################
      STATS & REVIEW
  ###########################*/
  /*http://jsfiddle.net/wuSF7/462/*/
  /*.svg-fontend path {fill: #5C6FAF !imporant;}*/

  .vert-img{
    position: relative;
    min-height: 400px;
  }
  .vert-img img{
    width:100%;display:block;margin:auto 0;vertical-align:middle;position:absolute;top:50%;bottom:50%;
  }
  .stats-hero{
    display: block;
    width:100%;
    /*min-height: 400px;*/
    position: relative;
  }


  .stats-hero img{max-width: 100% !important;}


  /*##########################
      COLOR PALETTE
      opt #9AB5C1 #9AB5C1 #74698C #C1867B
      opt #A21232 #1A1831 #20615B #DECE9C
      opt #83AFA6 #58727F #E5E5E5 #D3A284 *
      opt #D9DAD7 #C24D2C #3E4A61 #1A2639
  ###########################*/
  .vert-align {position: relative;line-height:95px;/*top: 45%;transform: translateY(-50%);*/}
  #color-palette p{height:100px; text-align:center; vertical-align:middle; color:white;padding:5px;}
  #color-palette p{border:2px solid #f4f4f4}
  #color-palette p:hover{border:2px solid white}
  /*COLOR PALETTE*/
.vert-align {position: relative;line-height:95px;/*top: 45%;transform: translateY(-50%);*/}q
  #color-palette p{height:100px;text-align:center;vertical-align:middle;color:white;padding:5px;}
  #color-palette p.fifty{height: 50px;margin: 0}
  .module-title p{color: #62645c; text-shadow: none;}


  .diag{
    background-image: url(img/diag.png);
    background-position: left top;
    background-repeat: repeat;
  }
  .dkgrid{
    background-image: url(img/dkgrid.png);
    background-position: left top;
    background-repeat: repeat;
  }
  .module-article .author-about{background-color: white;}
  /*##########################
      LANGUAGE & FRAMEWORKS
  ###########################*/
  #language-icon .icon, #language-icon .name{
    display: block;
    text-align: center;
  }
  #language-icon .icon{font-size: 5em;height: 100px;line-height: 100px;}
  #language-icon .name{}

  /*resolve arrow in hero sizing*/


  /*##########################
      SPOTIFY PLAYER
  ###########################*/


  #container > div.main, .spotify .main, .spotify *{border: none !important;}
  .theme-white #container .main, {border:none !important;}



  /*##########################
      Breadcrumbs / Multistep
  ###########################*/
  .multi-step{padding: 0 0 1.5em 0;}
