//_footer.scss
.footer-para{
  background-color: #2a2a2a;
  height:$footer-height;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  z-index:-1;
  color:white;
  padding:50px 0;
  a{
  color:white;
  border-bottom:1px dotted white;
    &:hover, &:focus {
      color: white;
      border-bottom: 1px solid white;
    }
  }
  #back-top{
    position:absolute;
    right:8px;
    top:-30px;
    a{
      color:white;
      font-size:2em;
      opacity:.5;
      &:hover{
        opacity:1;
      }
      i{
        border: 3px solid white;
        width:40px;
        padding:4px;
      }
    }
  }
}
.footer {
//  border-top: 1px solid #d2d0cd;
//  color: #878c8c;
  font-size: 12px;
  line-height: $line-height-lg;
  margin-top: 16px;
  padding-top: 36px;
  padding-bottom: 1px;
  padding-left:7px;
  padding-right:7px;
  position:relative;
  a{
    color:white;
    &:hover{
      border-bottom:1px solid white;
    }
    &.footer-brand{border-bottom:none;}
  }
  address {
    line-height: 18px;
    margin: 0 0 36px;
    a {
      color: #62645c;
    }
  }
  .list-unstyled, ul li{
    a{color:white;
      &:hover{border-bottom:1px dotted white;}
    }
  }
  [class^="icon-"], [class*="icon-"], [class^="fa-"], [class*="fa-"] {
    float: left;
    margin-left: -24px;
    position: relative;
    text-align: center;
    top: .25em;
    width: 24px;
  }
}

.footer-brand {
  display: none;
}

@media (min-width: $break-small-min) {
  .footer {
    padding-top: 36px;
    padding-bottom: 12px;
    address [itemprop="telephone"] {
      display: block;
      margin-top: 18px;
    }
  }
  .footer-brand {
    border-width: 0;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    opacity: .5;
    filter: alpha(opacity = 50);
    padding: 0 8px;
    &:hover, &:focus {
      opacity: 1;
      filter: alpha(opacity = 100);
      text-decoration: none;
      border: none;
      border-bottom: none;
    }
  }
}

.addthis_toolbox {
  margin: 18px 0 12px;
  > a {
    background: transparent url(../img/sprite.png) no-repeat 0 0;
    border-bottom: 0;
    display: inline-block;
    height: 31px;
    opacity: .6;
    filter: alpha(opacity = 60);
    overflow: hidden;
    width: 31px;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    > span {
      visibility: hidden;
    }
    &.addthis_button_twitter {
      background-position: 0 -62px;
    }
    &.addthis_button_pinterest_share {
      background-position: 0 -31px;
    }
    &.addthis_button_tumblr {
      background-position: 0 -93px;
    }
    &.addthis_button_facebook {
      background-position: 0 -124px;
    }
    &:hover, &:focus {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
}
.footer [class^="material-icons"]{
  float: left;
  margin-left: -24px;
  position: relative;
  text-align: center;
  top: .25em;
  width: 24px;
  font-size:1.11em !important;
}
@media (max-width: 767px){
  .footer [class^="icon-"], .footer [class*="icon-"], .footer [class^="fa-"], .footer [class*="fa-"], .footer [class^="material-icons"]{margin-left: 0px;}
  .footer-para{
    height:450px;
    #back-top{
      position:relative;
      display:block;
      width:40px;
      margin:0 auto;
      top:-40px;
      right:initial;
    }
  }
  .footer{
    padding: 20px;
    .list-unstyled{
//      width:178px;
      display:table !important;
      text-align:center;
      margin: 20px auto 40px auto;
      li{
        display:table-cell;
        width:60px;
        a{
          opacity:.5;
          &:hover{opacity:1;color:white;}
          i, .material-icons{
            width:42px;
            height:43px;
            border:2px solid white;
            border-radius:40px;
            font-size:1.75em !important;
            padding:10px;
          }
        }
      }
    }
    .text-right{
      text-align:center;
    }
  }
}
