<!DOCTYPE html>
<html data-ng-app="">
  <head>
    <meta charset="UTF-8" />
    <title>angular.js</title>
    <style>
      body{
        background-color: #efefef;
        font: normal 13px/150% Arial, Helvetica, sans-serif;
        color: #545454;
      }
      .form{
        background-color: white;
        width: 300px;
        margin: 20% auto;
        display: block;
        padding: 20px;
      }
      li{
        display: block;
        background-color: white;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container" data-ng-controller="SimpleController">
      <div class="form">
        Name:
        <br/>
        <input type="text" data-ng-model="name" />
        <br/>
      </div>
      <ul>
        <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">
          {{ cust.name }} - {{ cust.city }}</li>
      </ul>
    </div>
    <script src="js/angular.min.js"></script>
    <script>
      function SimpleController($scope) {

        $scope.customers = [
          { name: 'Joel Dombek', city: 'Pittsburgh'},
          { name: 'Dan Lexie', city: 'Nanticoke'},
          { name: 'Kyle Makavensky', city: 'Glen Lyon'},
          { name: 'Patty Paulson', city: 'New York'},
          { name: 'Joel Dombek', city: 'Pittsburgh'}
        ];
      }
    </script>
  </body>
</html>
