<div class="footer-para">
    <div class="container">
        <div class="row">
            <footer class="footer" itemscope="" itemtype="https://schema.org/Organization">
                <button title="Light / Dark" style="display: block; margin: 0 auto;" id="themeSwitch"><i class="fas fa-moon"></i></button>
                <span id="back-top"><a href="#top"><i class="material-icons">keyboard_arrow_up</i></a></span>
                <div class="row">
                    <a class="footer-brand col-xs-6 col-sm-2" href="#" itemprop="name">
                        <!-- Todo adjust the size to be smaller across all files 64px is nice -->
                        <img src="https://joeldom.github.io/asset/chip-logo.png" style="width: auto;max-height:80px;" />
                    </a>
                    <div class="col-xs-12 col-sm-4 hidden-sm hidden-md hidden-lg">&nbsp;</div>
                    <div class="col-xs-12 col-sm-6">
                        <!-- <p style="padding: 0 24px;">The portfolio and blog of Joel Dombek, a professional with over a decade of expertise in logo design, brand identity, graphic design, advertising, marketing, web design, and UX design. Find additional details in my <a href="https://joeldom.github.io/resume/"
								target="_blank">Resume</a>.</p> -->
                        <ul class="list-unstyled hidden-sm hidden-md hidden-lg">
                            <li><a href="https://joeldom.github.io/redesign/">Home</a></li>
                            <li><a href="https://joeldom.github.io/redesign/work">Work</a></li>
                            <li><a href="https://joeldom.github.io/redesign/sandbox/writing/">Writing</a></li>
                            <li><a href="https://joeldom.github.io/redesign/ideas">Ideas</a></li>
                            <li><a href="https://joeldom.github.io/redesign/quotes">Quotes</a></li>
                            <li><a href="https://joeldom.github.io/redesign/about">About</a></li>
                            <li><a href="https://joeldom.github.io/resume">Resume</a></li>
                            <!-- <li><a href="https://joeldom.github.io/contact">Contact</a></li> -->
                            <!-- <li><a href="https://joeldom.github.io/search">Search</a></li> -->
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 hidden-xs">
                                <!-- <a href="https://www.joeldombek.com/contact/"><strong itemprop="name">Contact</strong></a><br> -->
                                <ul class="list-unstyled">
                                    <!-- <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a></li> -->
                                    <li>
                                        <a href="https://www.instagram.com/joeld/" target="_blank"><i class="fa fa-user-circle" aria-hidden="true"></i><span class="hidden-xs"> About</span></a>
                                    </li>
                                    <li>
                                        <a href="https://joeldom.github.io/style-guide/" target="_blank"><i class="fa fa-paint-brush" aria-hidden="true"></i><span class="hidden-xs"> Style&nbsp;Guide</span></a>
                                    </li>
                                    <li>
                                        <a href="https://joeldom.github.io/sandbox/" target="_blank"><i class="material-icons">palette</i><span class="hidden-xs"> Sandbox</span></a>
                                    </li>
                                    <li>
                                        <a href="https://joeldom.github.io/resume/" target="_blank"><i class="fa fa-file-pdf-o"></i><span class="hidden-xs"> Resume</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-xs-12 hidden-xs">
                                <!-- <a href="https://www.joeldombek.com/contact/"><strong itemprop="name">Contact</strong></a><br> -->
                                <ul class="list-unstyled">
                                    <!-- <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a></li> -->
                                    <li>
                                        <a href="https://www.instagram.com/joeld/" target="_blank"><i class="material-icons">camera</i><span class="hidden-xs"> Instagram</span></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/joeldombek" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="hidden-xs"> Twitter</span></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/joel-dombek-6b056828/" target="_blank"><i class="fa fa-linkedin"></i><span class="hidden-xs"> LinkedIn</span></a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/joeldom" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span class="hidden-xs"> Github</span></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <p class="text-right">
                                    JOEL<strong>DOMBEK</strong><small class="hidden-sm hidden-md hidden-lg">&nbsp;©2025</small><small><br class="test-hidden-sm">V8.06.10.25<br class="hidden-xs"><span class="hidden-xs">©2025</span></small>
                                </p>
                                <br /><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- footer-temp -->