<div class="timeline">
    <!-- <twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="970644016797769728"></twitterwidget> -->
    <div class="timeline__item timeline__item--right">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/951593">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2018-08-13T15:16:30-04:00">July 25th, 2018</time>
            </p>
            <!-- <h2 class="grid-post__title">Chirp! Chirp! Chirp!</h2> -->
            <div class="grid-post__content" style="padding:.5em 1em 0em 5em;">

                <blockquote class="twitter-tweet" data-lang="en">
                    <p lang="en" dir="ltr">The fact that there are now dedicated user experience roles and their high demand shows how big the problem has been for awhile and isn&#39;t getting simpler.<a href="https://twitter.com/hashtag/inspiration?src=hash&amp;ref_src=twsrc%5Etfw">#inspiration</a>                        <a href="https://twitter.com/hashtag/ThoughtOfTheDay?src=hash&amp;ref_src=twsrc%5Etfw">#ThoughtOfTheDay</a> <a href="https://twitter.com/hashtag/outsidethelines?src=hash&amp;ref_src=twsrc%5Etfw">#outsidethelines</a> <a href="https://twitter.com/hashtag/UX?src=hash&amp;ref_src=twsrc%5Etfw">#UX</a>                        <a href="https://twitter.com/hashtag/ui?src=hash&amp;ref_src=twsrc%5Etfw">#ui</a> <a href="https://twitter.com/hashtag/MarketingStrategy?src=hash&amp;ref_src=twsrc%5Etfw">#MarketingStrategy</a> <a href="https://twitter.com/hashtag/responsibledesign?src=hash&amp;ref_src=twsrc%5Etfw">#responsibledesign</a></p>&mdash;
                    ᴊᴏᴇʟ ᴅᴏᴍʙᴇᴋ (@joeldombek) <a href="https://twitter.com/joeldombek/status/1022142557260840962?ref_src=twsrc%5Etfw">July 25, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                <!-- <span class="see-more" style="margin:1em 0">Read more</span> -->
            </div>
            <div class="grid-post__metadata">
            </div>
        </a>
    </div>

    <div class="timeline__item timeline__item--left">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/951593">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2018-08-13T15:16:30-04:00">August 13, 2018</time>
            </p>
            <h2 class="grid-post__title">A new project: Coaster/Opener</h2>
            <div class="grid-post__content">

                <p>We just launched our latest project on Kickstarter, the stainless steel Coaster/Opener- heavy duty, american made coasters with some familiar details. Clearly we have spent more time drinking...</p>
                <span class="see-more">Read more</span>
            </div>
            <div class="grid-post__metadata">
            </div>
        </a>
    </div>

    <div class="timeline__divider">
        <div class="timeline__divider--month-range">
            <div class="timeline__divider_content">
                <time class="js-adjust-time" data-format="MMM YYYY" datetime="2017-07-31T23:59:59-04:00">Jul 2017</time>
            </div>
        </div>
        <div class="month-range--long timeline__divider--month-range-break"></div>
        <div class="timeline__divider--month-range">
            <div class="timeline__divider_content">
                <time class="js-adjust-time" data-format="MMM YYYY" datetime="2017-02-28T23:59:59-05:00">Feb 2017</time>
            </div>
        </div>
    </div>

    <div class="timeline__item timeline__item--right">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/736552">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2017-02-02T18:01:10-05:00">February 2, 2017</time>
            </p>
            <h2 class="grid-post__title">Multiple Line Title For Milestone H2</h2>
            <div class="grid-post__content">
                <p>Many have asked when our Bandboard aluminum clipboard would be available for sale. Now that all of the Kickstarter Rewards have shipped, we have the remainder of our...</p>
                <span class="see-more">Read more</span>
            </div>
            <div class="grid-post__metadata"></div>
        </a>
    </div>

    <div class="timeline__item timeline__item--left">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/736552">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2017-02-02T18:01:10-05:00">February 1, 2017</time>
            </p>
            <h2 class="grid-post__title">Multiple Line Title For Milestone H2</h2>
            <div class="grid-post__content">
                <p>This is a longer descrtion of the milestone. It would detail news, changes and improvements as well as on the horizon features to keep a look out for in some of the future updates. This wouldn't need a link for <strong>READ MORE</strong>                    but would contain inline-links to read or see the changes. This is a test to see how hyphenation and longform content flow in the timeline. It is important to deatil the changes and allow for awareness of the state of things as this
                    is more than likely the only time the user will see the notes for such changes...</p>
                <!-- <span class="see-more">Read more</span> -->
            </div>
            <div class="grid-post__metadata"></div>
        </a>
    </div>

    <div class="timeline__item timeline__item--right">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/736552">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2017-02-02T18:01:10-05:00">February 2, 2017</time>
            </p>
            <h2 class="grid-post__title">Multiple Line Title For Milestone H2</h2>
            <div class="grid-post__content">
                <p>Many have asked when our Bandboard aluminum clipboard would be available for sale. Now that all of the Kickstarter Rewards have shipped, we have the remainder of our...</p>
                <span class="see-more">Read more</span>
            </div>
            <div class="grid-post__metadata"></div>
        </a>
    </div>

    <div class="timeline__divider timeline__divider--month">
        <div class="timeline__divider_content">
            <time class="js-adjust-time" data-format="MMM YYYY" datetime="2017-01-31T23:59:59-05:00">Jan 2017</time>
        </div>
    </div>

    <div class="timeline__item timeline__item--left">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/715864">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2017-01-09T17:29:20-05:00">January 9, 2017</time>
            </p>
            <h2 class="grid-post__title">OOPS</h2>
            <div class="grid-post__metadata">

            </div>
        </a>
    </div>

    <div class="timeline__item timeline__item--right">
        <a class="grid-post link" href="/projects/1827908565/aluminum-plate-wallet-system/posts/710670">
            <p class="grid-post__date">
                <time class="js-adjust-time" data-format="LL" datetime="2017-01-03T13:59:06-05:00">January 3, 2017</time>
            </p>
            <h2 class="grid-post__title">new TITANIUM A3 wallet</h2>
            <div class="grid-post__content">
                <p>Hoping you had a fine holiday season.</p>
                <p>During the campaign this time last year many of you asked about the wallets in titanium. We decided to do a...</p>
                <span class="see-more">Read more</span>
            </div>
            <div class="grid-post__metadata">
            </div>
        </a>
    </div>

    <div class="timeline__divider">
        <div class="timeline__divider--month-range">
            <div class="timeline__divider_content">
                <time class="js-adjust-time" data-format="MMM YYYY" datetime="2017-12-31T23:59:59-05:00">Dec 2017</time>
            </div>
        </div>
        <div class="month-range--short timeline__divider--month-range-break"></div>
        <div class="timeline__divider--month-range">
            <div class="timeline__divider_content">
                <time class="js-adjust-time" data-format="MMM YYYY" datetime="2017-09-30T23:59:59-04:00">Sep 2017</time>
            </div>
        </div>
    </div>

    <div class="timeline__divider timeline__divider--launched timeline__divider--launched--journalism">
        <div class="timeline__divider_content">
            <div class="f5 bold mb2">
                <time datetime="2017-10-22T17:27:47-04:00" data-format="LL" class="js-adjust-time">October 22, 2017</time>
            </div>
            <h2>Project launched</h2>
        </div>
    </div>
</div>
<!--/TIMELINE -->